@use 'sass:math';
@import '../../../styles/mixins.scss';

.legendSection {
  background-color: $lightColor;

  &Wrapper {
    padding: rem(170) 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &PawLeft {
    position: absolute;
    width: rem(203);
    left: rem(50);
    top: rem(40);
    transform: rotate(-15deg);

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &PawRight {
    position: absolute;
    width: rem(203);
    height: rem(203);
    right: rem(50);
    bottom: rem(40);
    transform: rotate(15deg);

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &Text {
    width: 50vw;
    color: $lightTextColor;
    font-size: rem(24);
    line-height: rem(34);
    text-align: center;

    @media (max-width: $mobile) {
      width: 80vw;
      font-size: rem(14);
      line-height: rem(18);
    }
  }
}
