@use 'sass:math';
@import '../../../styles/mixins.scss';

.mainSection {
  position: relative;

  &Bg {
    position: absolute;
    width: rem(2560);
    height: rem(189);
    z-index: -1;
    bottom: rem(-36);
    left: 50%;
    transform: translateX(-50%);
    font-size: 0;
  }

  &Wrapper {
    padding: rem(182) rem(117) rem(154);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: em(1260)) {
      padding-left: rem(60);
      padding-bottom: rem(120);
      padding-top: rem(90);
    }

    @media (max-width: em(920)) {
      padding-left: 0;
    }

    @media (max-width: $mobile) {
      padding-right: rem(90);
    }
    @media (max-width: $mobileSmall) {
      align-items: center;
      padding: rem(42) 0 rem(87);
    }
  }

  .introText {
    max-width: rem(530);

    @media (max-width: $mobile) {
      width: calc(100% - rem(70));
    }

    .introTextHeader {
      font-family: 'Jost';
      font-size: rem(42);
      line-height: math.div(54, 42);
      font-weight: 700;
      color: $mainTitleColor;

      @media (max-width: $mobile) {
        font-size: rem(30);
      }
      @media (max-width: $mobileSmall) {
        font-size: rem(24);
        padding-right: 4vw;
      }
    }

    .introTextSubheader {
      font-family: 'Jost';
      font-size: rem(30);
      line-height: math.div(43, 30);
      margin-top: rem(24);
      color: $mainColor;
      font-weight: 700;

      @media (max-width: $mobile) {
        font-size: rem(24);
      }

      @media (max-width: $mobileSmall) {
        margin-top: rem(12);
        font-size: rem(20);
        line-height: math.div(28, 20);
        padding-right: rem(20);
        padding-right: 16vw;
      }
    }

    .introTextContent {
      font-size: rem(18);
      line-height: math.div(24, 18);
      max-width: rem(315);
      color: $mainTextColor;
      margin-top: rem(48);

      @media (max-width: $mobile) {
        font-size: rem(16);
      }
      @media (max-width: $mobileSmall) {
        font-size: rem(14);
        line-height: math.div(18, 14);
        margin-top: rem(24);
        padding-right: 15vw;
      }
    }

    .introTextQuote {
      color: $placeholderColor;
      font-size: rem(14);
      line-height: 120%;
      margin: rem(3) 0 rem(24);
      width: rem(315);

      @media (max-width: $mobile) {
        display: none;
      }
    }

    .introActions {
      display: flex;
      align-items: center;
      margin-top: rem(48);
      gap: rem(20);

      @media (max-width: $mobileSmall) {
        margin-top: rem(30);
      }

      &Go {
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: $lightTextColor;
        padding: rem(9) rem(30);
        background: $hoverButtonBgColor;
        border-radius: rem(44);
        transition: $transitionBtn;

        &:hover {
          background: $mainButtonBgColor;
        }
      }

      &More {
        display: inline-flex;
        gap: rem(9);
        flex-direction: row-reverse;
        color: $mainLinkColor;
        transition: $transitionText;

        &::before {
          transform: rotate(180deg);
        }

        &:hover {
          color: $hoverLinkColor;
        }

        @media (max-width: $mobile) {
          display: none;
        }
      }
    }
  }

  .introDecoration {
    position: relative;
    width: rem(466);

    @media (max-width: em(920)) {
      width: rem(300);
    }

    @media (max-width: $mobile) {
      width: rem(70);
    }

    @media (max-width: $mobile) {
      height: auto;
    }

    &Dog {
      position: absolute;
      top: rem(28);
      transform: translateY(-50%);
      width: rem(368);
      height: rem(520);
      left: 0;

      @media (max-width: $mobile) {
        width: rem(300);
        height: rem(424);
      }

      @media (max-width: $mobileSmall) {
        width: rem(230);
        height: rem(325);
        left: rem(-54);
      }

      img {
        width: 100%;
        min-width: rem(230);
      }
    }

    &Text {
      position: absolute;
      top: rem(-29);
      left: rem(170);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: rem(12);
      z-index: -1;

      @media (max-width: em(1200)) {
        display: none;
      }

      &Line {
        font-family: 'Jost';
        font-size: rem(80);
        font-weight: 700;
        color: $mainHeaderColor;
        text-transform: uppercase;
        line-height: rem(54);

        @media (max-width: $mobile) {
          display: none;
        }
      }
    }
  }
}
