@import '../../../common/button/styles/button.vars.module';

.button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height: 22px;
  min-width: 20px;
  //min-height: 20px;
  border-radius: 2px;
  color: $buttonTextColor;
  border: none;
  background-color: #ffffff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;

  &:focus {
    outline: none;
  }

  &.disabled {
    color: $buttonTextColorDisabled;
  }

  &.defaultHover {
    &:hover:not(.disabled) {
      cursor: pointer;
      background-color: #5f580c;
    }
  }
}
