// @use 'sass:math';
@import './button.vars.module';
// @import '../../../../styles/mixins.scss';

.button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height: 22px;
  min-width: 20px;
  padding: 5px 10px;
  //min-height: 20px;
  border-radius: 10px;
  color: $buttonTextColor;
  border: 1px solid $buttonTextColor;
  background-color: #ffffff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;

  &:focus {
    outline: none;
  }

  &.disabled {
    color: $buttonTextColorDisabled;
  }

  &.defaultHover {
    &:hover:not(.disabled) {
      cursor: pointer;
      background-color: $buttonTextColor;
      color: #fff;
    }
  }
}