@use 'sass:math';
@import '../../../../styles/mixins.scss';
@import '../../../../components/common/button/styles/button.module.scss';

.friendsSection {
  padding: rem(90) 0;
  position: relative;
  font-size: rem(18);
  line-height: rem(24);

  @media (max-width:$mobile){
    padding-top: rem(24);
    padding-bottom: rem(60);
  }

  &Wrapper {
    display: flex;
    flex-direction: column;

    //@media (max-width: $mobile) {
    //  gap: rem(20);
    //  align-items: center;
    //  padding: rem(20) 5vw;
    //}

    //@media (max-width: $mobileSmall) {
    //  padding: rem(10) rem(5);
    //  padding-bottom: rem(30);
    //}
  }

  &Header {
    font-size: rem(30);
    line-height: rem(43);
    font-weight: 700;
    color: $brightColor;
    text-align: center;

    @media (max-width: $mobileSmall) {
      font-size: rem(24);
    }
  }

  &List {
    margin-top: rem(60);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(66);
    @media (max-width:$tablet){
      gap: rem(40);
    }

    @media (max-width:$mobile){
      gap: rem(42);
      margin-top: rem(36);
    }
    
    @media (max-width:$mobileSmall){
      margin-top: rem(24);
    }
  }

  &Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(30) rem(18);
    width: rem(416);
    background-color: white;
    border-radius: rem(18);

    @media (max-width:$tablet){
      width: rem(340);
    }

    @media (max-width:$mobile){
      width: rem(300);
      width: 80%;
    }

    @media (max-width:$mobileSmall){
      width: 100%;
      padding: rem(24) rem(6);
    }

    //@media (max-width: $mobile) {
    //  flex-basis: 100%;
    //  width: 90%;
    //}

    &Text {
      flex-grow: 1;
      margin-top: rem(30);
      text-align: center;
      font-weight: 400;
      font-size: rem(18);
      line-height: math.div(24 , 18);

      @media (max-width:$mobileSmall){
        font-size: rem(16);
      }

      & a {
        color: $mainLinkColor;
        transition: $transitionText;
        &:hover {
          color: $hoverLinkColor;
        }
      }
    }

    &Img {
      //padding: rem(30);
      position: relative;
      height: rem(192);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        position: absolute;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.linkButton {
  margin-top: rem(42);
  display: flex;
  text-align: center;
  font-weight: 500;
  font-size: rem(18);
  line-height: rem(26);
  color: $lightTextColor;
  padding: rem(9) rem(30);
  background: $mainButtonBgColor;
  border-radius: rem(44);
  transition: $transitionBtn;

  @media (max-width:$mobileSmall){
    margin-top: rem(30);
  }

  &:hover {
    background: $hoverButtonBgColor;
  }
  &Disable {
    background: $disableButtonBgColor;
    cursor: default;
    &:hover {
      background: $disableButtonBgColor;
    }
  }
}
