@use 'sass:math';
@import '../../styles/mixins.scss';

.words {
  display: flex;
  flex-wrap: wrap;
  column-gap: rem(20);
  row-gap: rem(36);
  min-width: rem(300);
  @media (max-width: $tablet) {
    margin-top: rem(24);
    justify-content: center;
  }
  @media (max-width: $mobileSmall) {
    column-gap: rem(10);
    row-gap: rem(18);
  }
}

.word {
  border-radius: rem(4);
  @media (max-width: $mobileSmall) {
    width: calc(50% - rem(5));
  }
  &Button {
    display: flex;
    flex-direction: column;
    width: rem(213);
    height: rem(99);
    padding: rem(12) rem(36) rem(12) rem(18);
    background: #ffffff;
    border-radius: rem(4);
    transition: all 0.2s;
    &Active {
      background: #ffffff00;
    }
    &:hover {
      background: #ffffff00;
    }
    @media (max-width: em(640)) {
      width: rem(210);
    }
    @media (max-width: $mobileSmall) {
      width: 100%;
      height: unset;
    }
  }
  &Word {
    font-weight: 700;
    font-size: rem(20);
    line-height: math.div(24, 20);
    color: $mainColor;
    text-transform: capitalize;
    @media (max-width: $mobileSmall) {
      font-size: rem(18);
    }
  }
  &Translate {
    margin-top: rem(9);
    font-weight: 300;
    font-size: rem(18);
    line-height: math.div(21, 18);
    text-align: left;
    @media (max-width: $mobileSmall) {
      font-size: rem(16);
      margin-top: rem(3);
    }
  }
}
