@use 'sass:math';
@import '../../../styles/mixins.scss';

.audioCall {
  flex: 1;
  background-image: url('../../../assets/svg/bg-audiocall.svg');

  &Loading {
    margin: rem(100) auto;
    color: $lightTextColor;
  }

  &Wrapper {
    padding: rem(30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  &Header {
    align-self: flex-start;
    font-size: rem(30);
  }

  &Screen {
    padding: 0 10vw;
    color: $lightTextColor;

  }
}
