@use 'sass:math';
@import '../../../styles/mixins.scss';

.audioCall {
  padding: rem(30);
  flex: 1;

  &Wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &Header {
    align-self: flex-start;
    font-size: rem(30);
    text-transform: uppercase;
  }

  &Screen {
    padding: 0 10vw;
  }
}