.mainPageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: red;
  .exampleButton {
    background-color: #ffe600;
  }
  .exampleButton2 {
    background-color: #15ba85;
  }

}
